[[source]]
url = "https://mirrors.aliyun.com/pypi/simple/"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
zhdate = "*"
flet = {extras = ["all"], version = "==0.28.3"}

[dev-packages]

[requires]
python_version = "3.12"
